@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    WTAMU<br />
    Texas<br />
    <abbr title="Phone">P:</abbr>
    800-JAMAL
</address>

<address>
    <strong>Support? Microsoft's Problem:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing? I don't do that:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
